.navbar-custom{
	background-color:#e7e7e7;
}
.navbar-custom .navbar-brand{
	padding:15px;
	color:#5e5e5e !important;
	opacity:1 !important;
}
.navbar-custom .nav li a{
	color:#5e5e5e;
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:hover{
	color:#5e5e5e;
}
.navbar-custom .nav li a.current, .navbar-custom .nav li a:active{
	border:none;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background-color:#CCD1D9;
	color:#5e5e5e;
}
.navbar-custom .nav .dropdown-menu li a{
	color:#fff;
}
.navbar-right .dropdown-toggle{
	min-width:160px;
	text-align:right;
}
.content{
	position: relative;
    padding: 60px 0 110px;
}
.sidebar{
	margin-top:1.5rem;
}
.panel label{
	margin:1rem 0;
}
.review-type{
	position:relative;
}
.review-type>div{
	display: inline-block;
    margin-left: -50px;
    padding-bottom: 7px;
}
.review-type>div>div{
	font-size:1rem;
	font-weight:normal;
	position: absolute;
    top: 30px;
}
.review-type .handle{
	top:-5px;
	left:-10px;
}
.note-editor.note-frame{
	border: 1px solid #aab2bd;
}
.note-editable.panel-body{
	box-shadow:none;
}
.nav-tabs{
	background-color:#eee;
}
